@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  font-size: 16px;
  font-family: "Karla", Arial, Helvetica, sans-serif;
}

html {
  background-color: #E6EFF6;
}
@media (max-width: 375px) {
  html {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
  }
}

.container-main {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
  border-radius: 0.625rem;
  box-shadow: 0px 20px 20px #d3d3d3;
  width: 650px;
}
@media (max-width: 375px) {
  .container-main {
    width: 285px;
    height: 300px;
  }
}
@media (max-width: 576px) {
  .container-main {
    width: 285px;
  }
}
.container-main-section1 {
  background-color: #fff;
  padding: 2rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}
.container-main-section1-heading {
  color: #2BB3B1;
  font-size: 1.5rem;
  padding-block: 1rem;
}
.container-main-section1-text1 {
  color: #BFDF32;
  font-weight: 700;
  padding-block: 0.5rem;
  font-size: 1.2rem;
}
.container-main-section1-text2 {
  color: #98a6bd;
  line-height: 1.6rem;
  font-weight: 400;
  width: 90%;
}
.container-main-section2 {
  background-color: #2BB3B1;
  padding: 2.5rem;
  width: 50%;
}
@media (max-width: 375px) {
  .container-main-section2 {
    padding: 1.5rem;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .container-main-section2 {
    padding: 1.5rem;
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container-main-section2 {
    border-bottom-left-radius: 0.625rem;
  }
}
.container-main-section2-heading {
  font-size: 1rem;
  font-weight: 600;
  color: #E6EFF6;
  padding-bottom: 1rem;
}
.container-main-section2-price {
  display: flex;
  align-items: center;
  justify-content: baseline;
  padding-bottom: 0.3rem;
}
.container-main-section2-price-span1 {
  color: #E6EFF6;
  font-size: 2rem;
  padding-right: 1rem;
  font-weight: 700;
}
.container-main-section2-price-span2 {
  color: #98a6bd;
}
.container-main-section2-text {
  color: #E6EFF6;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.container-main-section2-btn {
  width: 100%;
  margin-inline: auto;
  display: block;
  color: #E6EFF6;
  background-color: #BFDF32;
  text-align: center;
  text-decoration: none;
  padding-block: 0.5rem;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #1b8e92;
}
.container-main-section3 {
  background-color: #4abebd;
  padding: 2.5rem;
  border-bottom-right-radius: 0.625rem;
  width: 50%;
  color: #E6EFF6;
}
@media (max-width: 375px) {
  .container-main-section3 {
    width: 100%;
    border-bottom-left-radius: 0.625rem;
    padding: 1.5rem;
  }
}
@media (max-width: 576px) {
  .container-main-section3 {
    width: 100%;
    border-bottom-left-radius: 0.625rem;
    padding: 1.5rem;
  }
}
.container-main-section3-heading {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
.container-main-section3-text {
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.container-wrap {
  display: flex;
  height: 250px;
}
@media (max-width: 375px) {
  .container-wrap {
    flex-direction: column;
    width: 285px;
  }
}
@media (max-width: 576px) {
  .container-wrap {
    flex-direction: column;
    width: 285px;
  }
}

@media (min-width: 992px) {
  footer {
    left: 50%;
    transform: translateX(-50%);
    bottom: 1%;
    position: absolute;
    margin: auto;
  }
}
@media (max-width: 375px) {
  footer {
    font-size: 0.5rem;
    text-align: center;
  }
}
@media (max-width: 576px) {
  footer {
    font-size: 0.5rem;
  }
}
