@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cyan: hsl(179, 62%, 43%);
  --cyan-brighter: hsl(179, 56%, 52%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}
body {
  font-size: 1rem;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  background-color: var(--light-gray);
}
.container-main {
  width: 300px;
  height: 100vh;
  margin-inline: auto;

}
.container-section1, .container-section2, .container-section3 {
  padding: 1em;
}
.container-section1 {
  background-color: var(--light-gray);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 2em;
  margin-inline: 2em;
}
.container-section2 {
  background-color: var(--cyan);
  margin-inline: 2em;
}
.container-section3 {
  background-color: var(--cyan-brighter);
  margin-inline: 2em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.section1-header {
  color: var(--cyan);
  font-size: 1.32rem;
  font-weight: 700;
  margin-bottom: 1em;
}
.section2-header {
  color: var(--light-gray);
  font-size: 1.32rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.section3-header {
  color: var(--light-gray);
  font-size: 1.32rem;
  font-weight: 700;
  margin-bottom: 1em;
}
.s1p1 {
  color: var(--bright-yellow);
  font-weight: 700;
}
.s1p2 {
  color: var(--grayish-blue);
  font-size: 0.85rem;
}
.container-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  color: var(--light-gray);
  height: 2em;

}
.s2p1 {
  font-size: 2rem;
  font-weight: 700;
}
.s2p1-sub {
  font-size: 1rem;
  font-weight: 400;
  color: var(--cyan-brighter);
}
.s2p2 {
  color: var(--light-gray);
}
.btn {
  width: 100%;
  margin-inline: auto;
  background-color: var(--bright-yellow);
  border-style: none;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.13);
  font-size: .8rem;
  color: var(--light-gray);
}
.section3-p {
  display: flex;
  flex-direction: column;
}
.section3-span {
  color: var(--light-gray);
  font-size: 0.8rem;
}
@media screen and (min-width: 576px) {
  .container-main {
    display: flex;
    flex-direction: column;
    width: 400px
  }
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .container-section1 {
    margin-inline: auto;
  }
  .container-section2 {
    margin-inline: 0;
    border-bottom-left-radius: 5px;
  }
  .container-section3 {
    margin-inline: 0;
    border-bottom-left-radius: 0px;
  }
}
@media screen and (min-width: 768px) {
  .container-main {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    width: 600px
  }
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .container-section1 {
    margin-inline: auto;
  }
  .container-section2 {
    margin-inline: 0;
    border-bottom-left-radius: 5px;
  }
  .container-section3 {
    margin-inline: 0;
    border-bottom-left-radius: 0px;
  }
  .section3-p {
    display: flex;
    flex-direction: column;
  }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
